@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
  background-repeat: no-repeat;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

/*ANASAYFA BÖLÜMÜ*/
.gameModeContainer {
  width: 375px;
  margin: 0 auto;
  height: 750px;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding: 32px 32px 0 32px;
}
.game-text {
  padding: 24px 205px 24px 24px;
  border: 3px solid rgb(255, 255, 255, 0.29);
  border-radius: 5px;
  & .text-section h4 {
    margin-bottom: 8px;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    line-height: 16px; /* 76.19% */ 
  }
}
.welcome-text h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.gameMode-btns {
  display: flex;
  flex-direction: column;
  gap: 15px;  
  width: auto;
  margin: 0 auto;
  
}
.classic-mode, .bonus-mode {
  padding: 12px 37px;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255, 0.29);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.5px;
  border-radius: 5px;
  box-shadow: 3px 6px 2px 0px black;
}
/*OldSchool - Komponenti*/
.oldSchoolContainer {
  width: 375px;
  margin: 0 auto;
}
.oldSchool-inner {
  display: flex;
  flex-direction: column;
  gap: 105px;
  padding: 32px 32px 0 32px;
}
.oldSchool-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid rgb(255, 255, 255, 0.29);
  border-radius: 5px;
  height: 96px;
  & .text-left {
    padding: 24px 0 24px 23px;
    & h4 {
      margin-bottom: 8px;
      color: #fff;
      font-size: 21px;
      font-weight: 700;
      line-height: 16px; /* 76.19% */ 
    }
  }
  & .text-score {
    width: 80px;
    border-radius: 4px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    margin-right: 12px;
    & .score-box {
      padding: 10px 23px 0 24px;
      & h5 {
        color: #2A45C2;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.563px; 
      }
      & h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px; /* 100% */ 
        padding-bottom: 10px;
      }
    }
  }
}
.oldSchool-gamebtns {
  width: 312px;
  margin:0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.triangle {
  position: absolute;
  align-self: center;
  margin-top: 70px;
}
.gamebtns-top {
  display: flex;
  align-items: center;
  gap: 50px;
  transform: translateX(0.01rem);
  & button {
    background: transparent;
    border: 0;
    & img {
      width: 130px;
    }
  }
}
.gamebtns-bot {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0.01rem);
  & button {
    background: transparent;
    border: 0;
    & img {
      width: 130px;
    }
  }
}
.footer {
  margin-top: 50px;
}
/*MODAL BUTON*/
.modal-container {
  display: flex;
  justify-content: center;
  width: 128px;
  margin: 0 auto;
  margin-bottom: 56px;

}
.modal-btn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 11px 36px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.5px; 
}
/*MODAL BÖLÜMÜ*/

body.active-modal {
  overflow-y: hidden;
}
.modal-section {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.modal-inner {
  width: 305px;
  margin: 0 auto;
  display: flex;
  gap: 113px;
  flex-direction: column;
  padding-block: 95px 65px;
  & h4 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px; /* 100% */ 
    color: #3b4262;
  }
}
.modal-content {
  background-image: url(assets/rules-mobil.svg);
  background-repeat: no-repeat;
  width: 305px;
  height: 271px;
  display: flex;
  flex-direction: column;
  gap: 103px;
}
.top {
  text-align: center;
  background-color: #fff;
  padding: 12px 2px;
  width: 55px;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px; /* 100% */ 
  color: #B1B4C5;
}
.bot {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 90px;
  margin-top: -6px;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px; /* 100% */ 
  color: #B1B4C5;
  & h3 {
    width: 55px;
    background-color: #fff;
  }
}
.modal-close {
  background-color: transparent;
  border: 0;
}




/*Taş-Makas-Kağıt-Kertenkele-Spock*/
.bonusContentContainer {
  width: 375px;
  margin: 0 auto;
}
.bonusContent-inner {
  display: flex;
  flex-direction: column;
  gap: 105px;
  padding: 32px 32px 0 32px;
}
.bonusContent-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid rgb(255, 255, 255, 0.29);
  border-radius: 5px;
  height: 96px;
  & .text-left {
    padding: 24px 0 24px 23px;
    & h4 {
      margin-bottom: 8px;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height:  5px; /* 76.19% */ 
    }
  }
  & .text-score {
    width: 80px;
    border-radius: 4px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    margin-right: 12px;
    & .score-box {
      padding: 10px 23px 0 24px;
      & h5 {
        color: #2A45C2;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.563px; 
      }
      & h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px; /* 100% */ 
        padding-bottom: 10px;
      }
    }
  }
}
.bonusContent-gamebtns {
  width: 312px;
  margin:0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.polygon {
  position: absolute;
  align-self: center;
  margin-top: 70px;
}
.bonusGamebtns-top {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  transform: translateY(0.01rem);
  & button {
    border: 0;
    background: transparent;
  }
}
.bonusGamebtns-mid {
  margin-top: -25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0.01rem);
  & button {
    border: 0;
    background: transparent;
  }
}
.bonusGamebtns-bot {
  display: flex;
  justify-content: space-evenly;
  transform: translateY(0.01rem);
  & button {
    border: 0;
    background: transparent;
  }
}
.modal-content-polygon {
  background-image: url(assets/rules-polygon.svg);
  background-repeat: no-repeat;
  width: 311px;
  height: 305px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.top-polygon {
  display: flex;
  margin-top: 47px;
  align-items: center;
  justify-content: space-evenly;
  gap: 105px;
  & h3 {
    color: #b1b4c5;
    font-size: 11px;
    font-weight: 700;
    line-height: 13px; /* 118.182% */ 
    background-color: #fff;
  }
}
.mid-polygon {
  display: flex;
  gap: 251px;
  & h3 {
    margin-top: 50px;
    color: #b1b4c5;
    font-size: 11px;
    font-weight: 700;
    line-height: 13px; /* 118.182% */ 
    background-color: #fff;
  }
}
.bot-polygon {
  display: flex;
  align-items: center;
  justify-content: center;
  & h3 {
    margin-top: -10px;
    text-align: center;
    color: #b1b4c5;
    font-size: 11px;
    font-weight: 700;
    line-height: 13px; /* 118.182% */ 
    background-color: #fff;
  }
}