@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(assets/background.svg);
  background-repeat: no-repeat;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

/*ANASAYFA BÖLÜMÜ*/
.gameModeContainer {
  width: 375px;
  margin: 0 auto;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding: 32px 32px 0 32px;
}
.game-text {
  padding: 24px 205px 24px 24px;
  border: 3px solid rgb(255, 255, 255, 0.29);
  border-radius: 5px;
  & .text-section h4 {
    margin-bottom: 8px;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    line-height: 16px; /* 76.19% */ 
  }
}
.welcome-text h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.gameMode-btns {
  display: flex;
  flex-direction: column;
  gap: 15px;  
  width: auto;
  margin: 0 auto;
  
}
.classic-mode, .bonus-mode {
  padding: 12px 37px;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255, 0.29);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.5px;
  border-radius: 5px;
  box-shadow: 3px 6px 2px 0px black;
}
/*OldSchool - Komponenti*/
.oldSchoolContainer {
  width: 375px;
  margin: 0 auto;
}
.oldSchool-inner {
  display: flex;
  flex-direction: column;
  gap: 105px;
  padding: 32px 32px 0 32px;
}
.oldSchool-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid rgb(255, 255, 255, 0.29);
  border-radius: 5px;
  height: 96px;
  & .text-left {
    padding: 24px 0 24px 23px;
    & h4 {
      margin-bottom: 8px;
      color: #fff;
      font-size: 21px;
      font-weight: 700;
      line-height: 16px; /* 76.19% */ 
    }
  }
  & .text-score {
    width: 80px;
    border-radius: 4px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    margin-right: 12px;
    & .score-box {
      padding: 10px 23px 0 24px;
      & h5 {
        color: #2A45C2;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.563px; 
      }
      & h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px; /* 100% */ 
        padding-bottom: 10px;
      }
    }
  }
}
.oldSchool-gamebtns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  & .bg {
    position: relative;
    top: 150px;
    left: 0;
    right: 0;
  }
  & .gamebtns-top {
    display: flex;
    gap: 51px;
    & button {
      background: transparent;
      border: 0;
    }
  }

}
